*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif; 
    
}

.container{
    display: grid;
    grid-template-areas:
        "logo"  
        "header"
        "main"
        "footer";
}
/*--------Areas Grid----------*/
.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}
/*--------logo----------*/
.item-logo{
    display: flex;
    justify-content: center;
}
.item-logo img{
    width: 150px;
    height: 150px;

}

/*-----------Navegador---------*/



