*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif !important; 
    
}
.bg{
    background-color: #fbb5bf;
}

.btn:hover{
    background-color: #d7c89d !important;
}

#separador{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separador .content{
    width: 150%;
    height: 30px;
}

.bg-warning{
    background: linear-gradient(rgb(208, 206, 206), white);
    border-top:.5px solid rgb(127, 127, 127);
}
.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
 
}

.card-border:hover{
    transform: scale(1.05);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

